@mixin rotated-text($num-letters, $angle-span, $angle-offset) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate(($angle-offset + $angle-per-char * $i)+deg);
    }
  }
}

*, body {
  font-family: "Suisse Int'l", 'Yoon Gothic Pro 700', Sans-serif;
}

.condensed {
  font-family: "Suisse Int'l Condensed" !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

// 데이터 입력
// –––––––––––––––––––––––––––––––––––––––––––––––––– 
.form {
  width: 500px;
}

// 리모컨
// –––––––––––––––––––––––––––––––––––––––––––––––––– 
.remote-control {
  z-index: 999;
  right: 20px;
  bottom: 20px;
  width: 300px;
  transform: scale(0.9);
  transform-origin: bottom right;
  .switch-wrap {
    .switch {
      color: $gray-500;
      background-color: white;
      border-color: $border-color;
      border-right: 0px;
      &:hover {
        background-color: $gray-100;
      }
    }
    .switch:first-child {
      border-radius: $btn-border-radius 0 0 $btn-border-radius;
    }
    .switch:nth-child(n+2) {
      border-radius: 0;
    }
    .switch:last-child {
      border-right: 1px solid $border-color;
      border-radius: 0 $btn-border-radius $btn-border-radius 0;
    }
    .switch.on {
      border: 1px solid lighten($primary, 35%);
      font-weight: 500;
      color: $primary;
      background-color: lighten($primary, 55%);
    }
    .switch.on + .switch {
      border-left: 0;
    }
  }
}

// 전통주 템플릿 1
// –––––––––––––––––––––––––––––––––––––––––––––––––– 

// 오픈그래프
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.opengraph {
  z-index: 3;
  width: 1200px;
  height: 630px;
  .img-wrap {
    max-width: 450px;
    min-width: 450px;
    background-color: $secondary;
  }
  .text-wrap {
    width: 750px;
    padding: 0 80px;
    .wine-name {
      font-weight: 800;
      font-size: 60px;
      letter-spacing: -.03em;
    }
    .producer-name {
      color: $gray-400;
      font-weight: 600;
      font-size: 40px;
    }
    .og-info {
      margin-top: 80px;
      border-top: 2px solid $gray-300;
      .info-item {
        min-width: 180px;
        padding: 35px 20px 0 20px;
        font-size: 27px;
        &:before {
          position: absolute;
          top: -10px;
          left: 0;
          display: inline-block;
          width: 2px;
          height: 20px;
          background-color: $gray-300;
          content: '';
        }
        .info-name {
          font-weight: 600;
        }
        .info-data {
          text-transform: capitalize;
        }
      }
      .info-item:last-child {
        max-width: 150px;
        min-width: 150px;
        &:after {
          position: absolute;
          top: -10px;
          right: 0;
          display: inline-block;
          width: 2px;
          height: 20px;
          background-color: $gray-300;
          content: '';
        }
      }
    }
    table {
      margin-top: 80px;
      border-top: 2px solid $gray-300;
      tr {
        td {
          position: relative;
          padding: 35px 0 0 20px;
          font-size: 27px;
          color: $gray-600;
          &:before {
              position: absolute;
              top: -10px;
              left: 0;
              display: inline-block;
              width: 2px;
              height: 20px;
              background-color: $gray-300;
              content: '';
          }
          small {
            display: block;
            width: 100%;
            font-weight: 600;
          }
          span {
            display: inline-block;
            margin-top: 28px;
            color: inherit;
            text-transform: capitalize;
          }
        }
        td:first-child { min-width: 112px; }
        td:last-child {
          max-width: 112px;
          &:after {
            position: absolute;
            top: -10px;
            right: 0;
            display: inline-block;
            width: 2px;
            height: 20px;
            background-color: $gray-300;
            content: '';
          }
        }
      }
    }
  }
}

// 블로그용 썸네일
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.blog-thumbnail {
  z-index: 3;
  width: 960px;
  height: 960px;
  .img-wrap {
    height: 100%;
    background-color: $secondary;
  }
}