// SASS Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'ingredients/reset';
@import 'ingredients/flex';
@import 'ingredients/mixin';
@import 'ingredients/color';
@import 'ingredients/type';
@import 'ingredients/form';

// 데이터 입력
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.form {
    width: 500px;
    margin-top: 100px;
    padding: 50px;
    @include shadow;
    .form__title { margin-bottom: 40px; }
    .btn {
        width: 100%;
        margin-top: 10px;
    }
    .form__input.two {
        overflow: hidden;
        label { width: 100%; }
        .input__text {
            float: left;
            width: 48%;
        }
        .input__text ~ .input__text { margin-left: 4%; }
    }
    .btn-wrap {
        margin-top: 30px;
        .btn {
            float: left;
            width: 48%;
        }
        .btn ~ .btn { margin-left: 4%; }
    }
}

// 템플릿 -- 1
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.template-style--1 {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    padding: 50px;
    margin-top: 100px;
    background-color: white;
    @include shadow;
    .header {
        height: 100px;
        border-bottom: 2px solid $gray-9;
        .drink__name {
            position: relative;
            display: inline-block;
            height: 70px;
            line-height: 0.8em;
            font-weight: 900;
            font-size: 90px;
            text-transform: uppercase;
        }
        .circle-text {
            position: absolute;
            top: 0;
            right: 0;
            color: $gray-4;
            border-color: $gray-4;
            transform: translate(-25px, -95px);
            mix-blend-mode: multiply;
            &:before,
            &:after {
                position: absolute;
                display: block;
                border: 4px solid;
                border-color: inherit;
                border-radius: 50%;
                content: '';
            }
            &:before {
                top: 16px;
                left: -104px;
                width: 220px;
                height: 220px;
            }
            &:after {
                top: 50px;
                left: -70px;
                width: 152px;
                height: 152px;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 20px;
                height: 130px;
                transform-origin: bottom center;
                font-weight: 900;
                font-size: 26px;
                color: inherit;
            }
        }
        .circle-text--yearround {
            @include rotated-text(33, 360, 0);
        }
        .circle-text--seasonal {
            display: none;
            @include rotated-text(36, 360, 0);
        }
    }
    .content {
        overflow: hidden;
        height: 710px;
        padding: 30px 0;
        .img-wrap {
            float: left;
            width: 50%;
            height: 100%;
            background-color: #f6f6f8;
            .drink__img { height: 570px; }
        }
        .text-wrap {
            float: left;
            width: 50%;
            height: 100%;
            padding-left: 40px;
            .producer__name {
                font-size: 40px;
                font-weight: 900;
                text-transform: uppercase;
            }
            .drink__description {
                margin-top: 40px;
                font-size: 26px;
                text-align: justify;
                word-break: normal;
            }
        }
    }
    .footer {
        height: 90px;
        padding-bottom: 4px;
        border-top: 2px solid $gray-9;
        border-bottom: 4px solid $gray-9;
        table {
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $gray-9;
            tr {
                td {
                    padding: 0 15px;
                    border-right: 2px solid $gray-9;
                    font-weight: 700;
                    font-size: 36px;
                    text-align: center;
                    vertical-align: middle;
                    small {
                        margin-right: 4px;
                        font-weight: 800;
                        font-size: 23px;
                        vertical-align: inherit;
                    }
                }
                td:last-child { border-right: none; }
            }
        }
    }
}

// 템플릿 -- 2
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.template-style--2 {
    z-index: 2;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    background-color: white;
    @include shadow;
    .header {
        height: 230px;
        padding-left: 70px;
        background-color: $gray-3;
        .drink__name {
            position: relative;
            display: inline-block;
            height: 70px;
            line-height: 0.8em;
            font-weight: 500;
            font-size: 90px;
            text-transform: capitalize;
        }
        .beer-data {
            margin-top: 38px;
            .data__list {
                float: left;
                position: relative;
                font-size: 35px;
                vertical-align: middle;
                transform: skewX(-10deg);
                small {
                    margin-right: 6px;
                    font-weight: 700;
                    font-size: 21px;
                    vertical-align: inherit;
                }
            }
            .data__list ~ .data__list {
                margin-left: 50px;
                &:before {
                    position: absolute;
                    top: 4px;
                    left: -27px;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                    background-color: $gray-9;
                    transform: scaleX(0.5) rotate(45deg);
                    content: '';
                }
            }
        }
    }
    .content {
        overflow: hidden;
        height: 770px;
        .text-wrap {
            position: relative;
            float: left;
            width: 55%;
            height: 100%;
            padding: 100px 70px 70px;
            .producer__name {
                font-weight: 600;
                font-size: 40px;
                text-transform: capitalize;
                transform: skewX(-10deg);
            }
            .drink__description {
                margin-top: 40px;
                font-size: 26px;
                text-align: justify;
                word-break: normal;
            }
            .origin-wrap {
                position: absolute;
                bottom: 70px;
                width: calc(100% - 140px);
                padding-top: 15px;
                border-top: 1px solid $gray-9;
                span {
                    font-weight: 600;
                    font-size: 20px;
                    transform: skewX(-10deg);
                }
            }
        }
        .img-wrap {
            float: left;
            width: 45%;
            height: 100%;
            background-color: #f6f6f8;
            .drink__img { height: 630px; }
            // height: 540px;
        }
    }
}

// 오픈그래프
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.opengraph {
    z-index: 3;
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 630px;
    margin: 100px 0;
    background-color: white;
    @include shadow;
    .img-wrap {
        float: left;
        width: 450px;
        height: 100%;
        background-color: $secondary;
        .drink__img { height: 520px; }
    }
    .text-wrap {
        float: left;
        width: 750px;
        height: 100%;
        padding: 0 80px;
        .drink__name {
            font-weight: 800;
            font-size: 60px;
        }
        .producer__name {
            margin-top: 25px;
            color: $gray-4;
            font-weight: 600;
            font-size: 40px;
        }
        table {
            margin-top: 80px;
            border-top: 2px solid $gray-3;
            tr {
                td {
                    position: relative;
                    padding: 35px 0 0 20px;
                    font-size: 27px;
                    color: $gray-6;
                    &:before {
                        position: absolute;
                        top: -10px;
                        left: 0;
                        display: inline-block;
                        width: 2px;
                        height: 20px;
                        background-color: $gray-3;
                        content: '';
                    }
                    small {
                        display: block;
                        width: 100%;
                        font-weight: 600;
                    }
                    span {
                        display: inline-block;
                        margin-top: 28px;
                        color: inherit;
                    }
                }
                td:first-child { min-width: 112px; }
                td:last-child {
                    max-width: 112px;
                    &:after {
                        position: absolute;
                        top: -10px;
                        right: 0;
                        display: inline-block;
                        width: 2px;
                        height: 20px;
                        background-color: $gray-3;
                        content: '';
                    }
                }
            }
        }
    }
}