// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*, body {
    letter-spacing: -.015em;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased; // Chrome, Safari
    -moz-osx-font-smoothing: grayscale; // Firefox
}