// Font Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK KR DemiLight'), local('NotoSansCJKkr-DemiLight'),
    url(../../res/common/fonts/NotoSans-DemiLight.eot),
    url(../../res/common/fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(../../res/common/fonts/NotoSans-DemiLight.woff) format('woff'),
    url(../../res/common/fonts/NotoSans-DemiLight.woff2) format('woff2');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK KR Regular'), local('NotoSansCJKkr-Regular'),
    url(../../res/common/fonts/NotoSans-Regular.eot),
    url(../../res/common/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../../res/common/fonts/NotoSans-Regular.woff) format('woff'),
    url(../../res/common/fonts/NotoSans-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans CJK KR Medium'), local('NotoSansCJKkr-Medium'),
    url(../../res/common/fonts/NotoSans-Medium.eot),
    url(../../res/common/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../../res/common/fonts/NotoSans-Medium.woff) format('woff'),
    url(../../res/common/fonts/NotoSans-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK KR Bold'), local('NotoSansCJKkr-Bold'),
    url(../../res/common/fonts/NotoSans-Bold.eot),
    url(../../res/common/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../../res/common/fonts/NotoSans-Bold.woff) format('woff'),
    url(../../res/common/fonts/NotoSans-Bold.woff2) format('woff2');
}

// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*, body {
    letter-spacing: -.015em;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased; // Chrome, Safari
    -moz-osx-font-smoothing: grayscale; // Firefox
}