@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 10"),
         local("Yoon Gothic Pro 710"),
         url("../../res/fonts/YoonGothicPro710.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro710.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 20"),
         local("Yoon Gothic Pro 720"),
         url("../../res/fonts/YoonGothicPro720.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro720.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 30"),
         local("Yoon Gothic Pro 730"),
         url("../../res/fonts/YoonGothicPro730.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro730.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 40"),
         local("Yoon Gothic Pro 740"),
         url("../../res/fonts/YoonGothicPro740.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro740.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 50"),
         local("Yoon Gothic Pro 750"),
         url("../../res/fonts/YoonGothicPro750.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro750.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 60"),
         local("Yoon Gothic Pro 760"),
         url("../../res/fonts/YoonGothicPro760.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro760.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 70"),
         local("Yoon Gothic Pro 770"),
         url("../../res/fonts/YoonGothicPro770.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro770.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 80"),
         local("Yoon Gothic Pro 780"),
         url("../../res/fonts/YoonGothicPro780.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro780.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family:"Yoon Gothic Pro 700";
    src: local("Yoon Gothic 700 90"),
         local("Yoon Gothic Pro 790"),
         url("../../res/fonts/YoonGothicPro790.woff2") format("woff2"),
         url("../../res/fonts/YoonGothicPro790.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*, body {
    font-family: "Suisse Int'l", 'Yoon Gothic Pro 700', Sans-serif;
    letter-spacing: -.015em;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased; // Chrome, Safari
    -moz-osx-font-smoothing: grayscale; // Firefox
}