$primary: #3b6d4b; // 59, 109, 75
$secondary: #F6F2ED;
$secondary--dark: #b7976f; // 183, 151, 111
$secondary--deepdark: #936337;
$link-blue: #4DABF7;
$emphasis: #FF5D5C;
$emphasis--light: #FFF1F1;

$gray-0 : #f8f9fa;
$gray-1 : #f1f4f5;
$gray-2 : #e9edef;
$gray-3 : #dee4e6;
$gray-4 : #ced7da;
$gray-5 : #adb8bd;
$gray-6 : #869196;
$gray-7 : #495357;
$gray-8 : #343d40;
$gray-9 : #212729; // 33, 39, 41

$border: $gray-2;
