.flex-container { display: flex; }
.flex-item { flex: 1; }
.flex-start { justify-content: flex-start; }
.flex-center { justify-content: center; }
.flex-end { justify-content: flex-end; }
.flex-space-between { justify-content: space-between; }
.flex-space-around { justify-content: space-around; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.item-start {align-items: flex-start;}
.item-center { align-items: center; }
