// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Body
// - h1, h2, h3, h4, h5, p


// Font Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@font-face {
  font-family: 'BR Firma';
  font-style: normal;
  font-weight: 400;
  src: local('BR Firma Regular'), local('BRFirma-Regular'),
  url(../../res/common/fonts/BRFirma-Regular.eot),
  url(../../res/common/fonts/BRFirma-Regular.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/BRFirma-Regular.woff) format('woff'),
  url(../../res/common/fonts/BRFirma-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'BR Firma';
  font-style: normal;
  font-weight: 500;
  src: local('BR Firma Medium'), local('BRFirma-Medium'),
  url(../../res/common/fonts/BRFirma-Medium.eot),
  url(../../res/common/fonts/BRFirma-Medium.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/BRFirma-Medium.woff) format('woff'),
  url(../../res/common/fonts/BRFirma-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'BR Firma';
  font-style: normal;
  font-weight: 600;
  src: local('BR Firma SemiBold'), local('BRFirma-SemiBold'),
  url(../../res/common/fonts/BRFirma-SemiBold.eot),
  url(../../res/common/fonts/BRFirma-SemiBold.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/BRFirma-SemiBold.woff) format('woff'),
  url(../../res/common/fonts/BRFirma-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'BR Firma';
  font-style: normal;
  font-weight: 700;
  src: local('BR Firma SemiBold'), local('BRFirma-SemiBold'),
  url(../../res/common/fonts/BRFirma-SemiBold.eot),
  url(../../res/common/fonts/BRFirma-SemiBold.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/BRFirma-SemiBold.woff) format('woff'),
  url(../../res/common/fonts/BRFirma-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK KR DemiLight'), local('NotoSansCJKkr-DemiLight'),
  url(../../res/common/fonts/NotoSans-DemiLight.eot),
  url(../../res/common/fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/NotoSans-DemiLight.woff) format('woff'),
  url(../../res/common/fonts/NotoSans-DemiLight.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans CJK KR Regular'), local('NotoSansCJKkr-Regular'),
  url(../../res/common/fonts/NotoSans-Regular.eot),
  url(../../res/common/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/NotoSans-Regular.woff) format('woff'),
  url(../../res/common/fonts/NotoSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans CJK KR Medium'), local('NotoSansCJKkr-Medium'),
  url(../../res/common/fonts/NotoSans-Medium.eot),
  url(../../res/common/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/NotoSans-Medium.woff) format('woff'),
  url(../../res/common/fonts/NotoSans-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans CJK KR Bold'), local('NotoSansCJKkr-Bold'),
  url(../../res/common/fonts/NotoSans-Bold.eot),
  url(../../res/common/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../../res/common/fonts/NotoSans-Bold.woff) format('woff'),
  url(../../res/common/fonts/NotoSans-Bold.woff2) format('woff2');
}

// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––

*, body {
  font-family: "Suisse Int'l", 'Yoon Gothic 700', Sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $gray-9;
  line-height: 1.2em;
  letter-spacing: -.015em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased; // Chrome, Safari
  -moz-osx-font-smoothing: grayscale; // Firefox
}


// h1, h2, h3, h4, h5, p
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1em;
  letter-spacing: -.04em;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2em;
  letter-spacing: -.03em;
}

h3 {
  font-size: 19px;
  line-height: 1em;
  letter-spacing: -.02em;
}

h4 {
  font-size: 17px;
  line-height: 1em;
}

h5 {
  // Caption으로 사용
  font-size: 13px;
}

p {
  font-size: 15px;
  line-height: 1.65em;
}

// @media (max-width: 650px) {
//   *, body {
//     font-family: 'BR Firma', 'Noto Sans KR', Sans-serif;
//     font-weight: 500;
//   }
//   h1 {
//     font-size: 28px;
//   }

//   h2 {
//   font-size: 22px;
//   font-weight: 600;
//   }

//   h3 {
//     font-size: 19px;
//     font-weight: 600;
//   }

//   h4 {
//     font-size: 16px;
//   }

//   h5 {
//     // Caption으로 사용
//     font-size: 13px;
//   }

//   p {
//     font-size: 15px;
//   }
// }


